<md-content ng-controller="ControlPanelController as vm" class="md-padding">

    <div layout="row">
        <img class="img-circle" ng-src="assets/images/example-logo.png" src="assets/images/example-logo.png" style="margin: 10px;"><p class="ng-binding">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><!--<h4 flex="82">API minimal desc</h4>-->
    </div>

    <md-progress-linear class="widget-progress md-accent" md-mode="determinate"
                        value="{{vm.determinateValue}}" ng-show="vm.showProgress">
    </md-progress-linear>

	</br>

    <!--<md-radio-group ng-model="vm.reloadServer">
        <md-radio-button class="md-accent" value="Staging">setting 1</md-radio-button>
        <md-radio-button class="md-accent" value="Production">setting 2</md-radio-button>
    </md-radio-group>-->

    <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
        Action 1
    </md-button>
    <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
        Action 2
    </md-button>
    <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
        Action 3
    </md-button>
</md-content>
